$color-primary: #0b0d17;
$color-secondary: #d0d6f9;
$color-tertiary: #fff;

$color-black: #000;
$color-grey-1: #b1b0b0;
$color-grey-2: #bbb;
$color-grey-3: #495057;
$color-grey-4: #868e96;

$default-font-size: 1.6rem;
$font-weight-regular: 400;
$font-weight-bold: 600;
