.dot-nav {
	margin-top: 2rem;
	width: 20rem;
	height: 5rem;
	display: flex;
	flex-direction: row;
	column-gap: 2rem;

	@include respond(ipad) {
		align-self: center;
		justify-content: center;
		width: 15rem;
		height: 4rem;
		margin-top: 1rem;
	}

	@include respond(phone) {
		order: -1;
		width: 12rem;
		height: 3rem;
	}

	&__link {
		display: inline-block;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		background-color: rgba($color-grey-1, 0.2);
		cursor: pointer;
	}

	.active--dot {
		background-color: $color-tertiary;
	}
}
