@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&family=Bellefair&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@include respond(big-desktop) {
		font-size: 75%;
	}

	@include respond(tab-port) {
		font-size: 56.25%;
	}

	@include respond(ipad) {
		font-size: 50%;
	}

	@include respond(phone) {
		font-size: 43.75%;
	}
}

body {
	overflow: hidden;
	box-sizing: border-box;

	@include respond(phone) {
		overflow: auto;
	}
}
