.main {
	@include row;

	&-crew {
		display: grid;
		grid-template-columns: auto 40rem;
		grid-template-rows: 4rem;
		padding: 4rem 0 0 0;
		column-gap: 8rem;
		height: 90vh;

		@include respond(tab-land) {
			grid-template-columns: auto 35rem;
			column-gap: 4rem;
		}

		@include respond(tab-port) {
			column-gap: 2rem;
		}

		@include respond(ipad) {
			row-gap: 2rem;
			grid-template-columns: 1fr;
			text-align: center;
		}
	}

	&__content-crew {
		max-width: 46rem;
		display: flex;
		flex-direction: column;
		padding-top: 8rem;
		gap: 1.5rem;
		grid-row: 2 / 3;
		grid-column: 1 / 2;

		@include respond(ipad) {
			gap: 1rem;
			justify-self: center;
			padding-top: 2rem;
		}

		@include respond(phone) {
			grid-row: 3 / 4;
			padding: 0;
		}
	}

	&__content-subtitle {
		text-transform: uppercase;
		padding-left: 4rem;
		grid-row: 1 / 2;
		grid-column: 1 / 2;

		@include respond(ipad) {
			display: flex;
			justify-content: flex-start;
		}
	}

	&__content-subtitle span {
		color: $color-grey-3;
	}

	&__img-box-crew {
		display: flex;
		align-self: end;
		justify-self: end;
		width: 100%;
		grid-row: 1 / 3;
		grid-column: 2 / 3;

		@include respond(tab-port) {
			justify-self: start;
			align-self: start;
		}

		@include respond(ipad) {
			align-self: end;
			justify-self: center;
			grid-row: 3 / 4;
			grid-column: 1 / 2;
		}

		@include respond(phone) {
			width: 80%;
			box-shadow: inset 0 -0.3px 0 $color-secondary;
			align-self: end;
			justify-self: center;
			grid-row: 2 / 3;
		}
	}

	&__img-crew {
		width: 100%;

		@include respond(ipad) {
			padding-left: 6rem;
			width: 80%;
		}

		@include respond(phone) {
			padding-left: 3rem;
			width: 80%;
		}
	}
}
